.git/
.env

**/.terraform/
**/.terraform.lock.hcl
**/.tfstate
**/.tfstate.*

**/crash.log

**/*.tfplan

**/.terraformrc
**/terraform.rc

**/boot/override.tf
**/override.tf.json
**/_override.tf
**/_override.tf.json

**/.auto.tfvars
**/.tfvars
